@charset "UTF-8";

body{
    background-color: lightgray;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgba(100, 148, 237, 0.552);
    padding: 5px;
    border-radius: 2px;
    text-indent: 20px;
    width: 95vw;
    margin: 20px auto;
}
p{
    text-align: justify;
    padding: 10px;
    margin: 0px;
}
a{
    color: black;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(100, 148, 237, 0.552);
}
a:hover{
    background-color: rgba(43, 78, 143, 0.552);
}
nav{
    background-color: rgb(185, 185, 185);
    height: 60px;
    padding-top: 15px;
    padding-bottom: 5px;
}
nav a{
    text-decoration: none;
    display: inline-block;
}
a#casa{
    position: absolute;
    top: 45px;
    left: 20px;
}
a#cliente{
    position: absolute;
    top: 45px;
    left: 90px;
}
a#relatorio{
    position: absolute;
    top: 45px;
    left: 165px;
}
a#produto{
    position: absolute;
    top: 45px;
    left: 250px;
}
a.link{
    width: 50px;
    height: 50px;
    background-color: lightgrey;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 30%;
}